.slide {
    width: 1440px;
    height: 850px;
    background: 
        url(./images/slide-section/fresh-top-background.png) no-repeat 5px -40px,
        url(./images/slide-section/main-vegetables.png) no-repeat 100px 400px;
    background-color: #F3FBF8;
        
    &-section {
        display: flex;
        flex-direction: column;
        padding-top: 93px;
    }

    &-paragraph {
        font-weight: 700;
        font-size: 70px;
        line-height: 90px;
        font-family: 'Rosario';
        align-self: center;
        margin-bottom: 20px;

        &-content {
            width: 637px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: #555555;
            align-self: center;
            text-align-last: center;
            margin-bottom: 57px;
        }

        &-btn {
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;

            &-content {
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                font-family: 'DM Sans';
                color: #222222;

                &-title {
                    width: 64px;
                    height: 64px;
                    background: #09A66D;
                    border: #09A66D;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &-img {
                    width: 32px;
                }
            }
        }
    }

    &-cards {
        width: 250px;
        height: 408px;
        padding-left: 1090px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &-card {
        width: 250px;
        height: 116px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            &-title {
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 48px;
                line-height: 48px;
            }

            &-subtitle {
                font-family: 'DM Sans';
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
            }
        }
    }

    &-icon {
        width: 56px 56px;
        margin-right: 25px;
    }
}